* {
    color: var(--blue);
}

.section {
    display: flex;
    width: 100vw;
    background-color: #F4F4F4;
}

.welcome.section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    background: url('../media/order-page-image.jpg') no-repeat;
    background-size: 150%;
    background-position: 60% 50%;
    background-attachment: fixed;
}

.content {
    /* background-color: var(--transparent-blue); */
    backdrop-filter: blur(5px) brightness(0.9) contrast(0.8);
    -webkit-backdrop-filter: blur(5px) brightness(0.9);
    background-blend-mode: darken;
    
}

.welcome .content {
    height: 100%;
    width: calc(100% - 200px);
    padding-inline: 200px;

    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome .text-mask {
    -webkit-text-stroke: 0.5px var(--blue);
    color: var(--white);
}

.content .text-body {
    height: 100%;
    width: 100%;
    /* padding-top: 100px; */
    row-gap: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    text-align: left;
    z-index: 3;
}

.welcome .text-body h1 {
    font-size: 6em;
    font-weight: 800;
}

.welcome .text-body h3 {
    font-size: 3em;
    font-weight: 600;
    color: var(--pink);
    -webkit-text-stroke: 1px var(--white);
}

.text-body h1,
.text-body h3,
.text-body div {
    margin: 0;
}

.branch-info .text-body h1 {
    font-size: 35px;
    font-weight: 800;
    color: #2B0F0E;
}

.branch-info .text-body h3 {
    font-size: 20px;
    font-weight: 600;
    color: #2B0F0E;
}

.branch-info .content {
    width: 100%;
}

.branch-info .branches {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-block: 50px;
}

.branches .branch {
    width: 32%;
    display: flex;
    flex-direction: column;
    background-color: #FFFEFE;
}

.branch .branch-heading {
    text-align: center;
    background-color: #752926;
    color: #F4F4F4;
}

.branch .branch-times .entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    color: #2B0F0E;
}

.day, .time {
    flex: 1;
}

.menu {
    width: 90%;
    padding-inline: 20%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
    background-color: #F4F4F4;
    align-items: center;
}

.menu-categories {
    color: #2B0F0E;
    background-color: var(--white);
    padding: 20px 0px;
    width: 100%;
    padding-inline: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-categories .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.menu-categories .heading h4 {
    font-size: 22px;
    font-weight: 300;
}

.decorative-bar {
    width: 2vw;
}

.menu-categories .categories {
    width: 100%;
    max-width: 900px;
    display: flex;
    overflow-x: scroll;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}

.menu-categories .category {
    width: 18%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.menu-categories .category::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #2B0F0E;
    transition: width 0.4s ease;
}

.menu-categories .category:hover .category-image,
.menu-categories .category:hover .category-title {
    transform: translateY(-10px);
    transition: all 0.2s ease;
}

.menu-categories .category:hover::after {
    width: 100%;
}

.menu-item-category {
    width: 100%;
    max-width: 1000px;
}

.menu-item-category .item-category-heading h3 {
    font-size: 25px;
}

.menu-category-items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.menu-category-items .item {
    text-align: center;
    flex: 0 0 calc(25% - 15px);
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.menu-category-items .item:hover {
    transform: translateY(-10px);
}

.menu-category-items .item:nth-child(4n+1) {
    margin-left: 0;
}

.menu-category-items .item:nth-child(4n) {
    margin-right: 0;
}

.menu-category-items .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    padding-top: 100%;
}

.menu-category-items .item h6 {
    font-size: 16px;
    color: #2B0F0E;
}

@media (max-width: 1025px) {
    .welcome.section {
        margin-top: 64px;
        height: 100vh !important;
        background-size: 340vw;
        background-position: center;
    }

    .welcome .text-body {
        height: 30vh;
        width: calc(100% - 40px);
        transform: translateX(-40px);
        row-gap: 10vh;
        padding-bottom: 5vh;
    }

    .welcome .text-body h1 {
        font-size: 40px;
        font-weight: 800;
    }

    .welcome .text-body h3 {
        font-size: 15px;
        font-weight: 600;
    }

    .menu-categories {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-categories .category {
        flex: 0 0 calc(50% - 15px);
        margin: 7.5px;
        transform: translateY(-5px);
    }

    .menu-category-items .item {
        flex: 0 0 calc(50% - 15px);
    }

    .category-image {
        padding-top: 225px !important;
        background-size: contain !important;
    }

    .menu-categories .categories {
        width: 100%;
        max-width: 900px;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        justify-content: space-between;
        align-items: flex-start;
    }

    .decorative-bar {
        width: 4vw;
        border: 0.15px solid #2B0F0E;
    }
}
